/*
 *
 * CSS com estilos genéricos para todos os temas
 *
 * @Autores
 *
 * - Simples Consultoria - www.simplesconsultoria.com.br
 * - DESERTO Digital - www.desertodigital.com.br
 *
 * @Referencias
 *
 * Lista de padrões, convenções e boas praticas CSS que devem ser seguidas.
 * https: //github.com/necolas/idiomatic-css/tree/master/translations/pt-BR
 *
 * Plugins para ordenar os atributos de CSS.
 * http://csscomb.com/
 *
 * Validador de CSS do W3C.
 * http://jigsaw.w3.org/css-validator/
 */


/* ==========================================================================
   Font-face local para fonte "Open Sans"
   ========================================================================== */

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "open_sanslight";
    src: url("../fonts/opensans-300-webfont.eot");
    src: url("../fonts/opensans-300-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/opensans-300-webfont.woff") format("woff"),
         url("../fonts/opensans-300-webfont.ttf") format("truetype"),
         url("../fonts/opensans-300-webfont.svg#open_sanslight") format("svg");
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "open_sansregular";
    src: url("../fonts/opensans-400-webfont.eot");
    src: url("../fonts/opensans-400-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/opensans-400-webfont.woff") format("woff"),
         url("../fonts/opensans-400-webfont.ttf") format("truetype"),
         url("../fonts/opensans-400-webfont.svg#open_sansregular") format("svg");
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "open_sanssemibold";
    src: url("../fonts/opensans-600-webfont.eot");
    src: url("../fonts/opensans-600-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/opensans-600-webfont.woff") format("woff"),
         url("../fonts/opensans-600-webfont.ttf") format("truetype"),
         url("../fonts/opensans-600-webfont.svg#open_sanssemibold") format("svg");
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "open_sansbold";
    src: url("../fonts/opensans-700-webfont.eot");
    src: url("../fonts/opensans-700-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/opensans-700-webfont.woff") format("woff"),
         url("../fonts/opensans-700-webfont.ttf") format("truetype"),
         url("../fonts/opensans-700-webfont.svg#open_sansbold") format("svg");
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "open_sansextrabold";
    src: url("../fonts/opensans-800-webfont.eot");
    src: url("../fonts/opensans-800-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/opensans-800-webfont.woff") format("woff"),
         url("../fonts/opensans-800-webfont.ttf") format("truetype"),
         url("../fonts/opensans-800-webfont.svg#open_sansextrabold") format("svg");
}


/* ==========================================================================
   Reset
   ========================================================================== */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
}


/* ==========================================================================
   Estilos básicos
   ========================================================================== */

/* Cores e fontes
   ========================================================================== */

body {
    background-color: #fff;
    color: #000000;
    font-size: 62.5%;
    font-family: "open_sansregular", Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "open_sanssemibold", Arial, Helvetica, sans-serif;
}

#content h1 { margin-top: 0 !important; }

.modal { top: 50% !important; }

a:link,
#content a:link,
dl.portlet a:link {
    border-bottom: none !important;
    color: #2c67cd;
}

a:visited,
#content a:visited,
dl.portlet a:visited { color: #2c67cd; }

#content a:hover,
dl.portlet a:hover { color: #000 !important; }

body div.overlaybg div.close,
body div.overlay div.close {
    right: -14px;
    left: auto;
}

a:focus { outline: 2px solid #f1ca7f; }

/*
 * Bug fix do click no firefox
 */

a:hover,
a:active { outline: none; }

h1 {
    border-bottom: none;
    color: #172838;
    font-size: 2em;
}

h2, h3, h4, h5, h6 { color: #231f20; }

h1 {
    margin: 0.5em 0 0.5em;
    line-height: 1.3em;
}

h2, h3 {
    margin: 0 0 0.5em 0;
    line-height: 1.3em;
}

p {
    margin: 0 0 1em 0;
    line-height: 1.8em;
}


/* ==========================================================================
   Estrutura principal
   ========================================================================== */

#wrapper {
    margin: 0 auto;
    width: 100%;
    font-size: 1.2em;
}

#main {
    margin: 0 auto;
    padding: 4.104em 0 1.5em;
    max-width: 960px;
    background: #fff;
    font-size: 1.3em;
}

/*
 * Tamanho das colunas
 */

#portal-column-one {
    margin-left: -98.958%;
    width: 15.625%;
}

#portal-column-two {
    margin-left: -24.0625%;
    width: 24.0625%;
}

/* Grids
   ========================================================================== */

div.width-1\3a 2 { width: 51.25%; }

div.width-2 { width: 13.061%; }

div.width-2.position-2 { margin-left: -80.982%; }
div.width-2.position-4 { margin-left: -64.002%; }
div.width-2.position-6 { margin-left: -47.022%; }
div.width-2.position-8 { margin-left: -30.042%; }
div.width-2.position-10 { margin-left: -13.061%; }

div.width-3\3a 4 { width: 79.75%; }

div.width-5 { width: 30.042%; }

div.width-8 { width: 47.022%; }

div.width-8.position-8 { margin-left: -47.022%; }

div.width-10 { width: 64.002%; }

div.width-15,
div.width-16 { width: 97.963%; }

div.position-0 { margin-left: -97.963%; }

div.position-1\3a 4 { margin-left: -78.2291%; }

div.position-3\3a 4 { margin-left: -16.75%; }

div.position-5 { margin-left: -64.002%; }

div.position-10 { margin-left: -30.042%; }


/* ==========================================================================
   Cabeçalho do portal
   ========================================================================== */

#header > div {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    max-width: 960px;
}

#brasilgov {
    padding: 5px 10px;
    border-bottom: 1px solid #ffcc00;
    background: #00510f;
    color: #fff;
}

/* Menu de Acessibilidade
   ========================================================================== */

#accessibility {
    display: block !important;
    float: left;
    width: 50%;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
}

#accessibility a {
    margin-right: 8px;
}

#accessibility span {
    padding: 0 4px;
}

/* Titulo do portal
   ========================================================================== */

#logo {
    float: left;
    padding: 0;
    width: 70%;
    height: 116px;
}

#logo span {
    position: absolute;
    display: block;
    line-height: 1em;
}

#portal-logo {
    display: block;
    margin: 0;
    width: 100%;
}

#portal-title {
    margin: 0;
    margin: 30px 0 46px;
    color: #fff;
    font-size: 3.35em;
    font-family: "open_sansextrabold", Arial, Helvetica, sans-serif;
    font-weight: normal;
    line-height: 1em;
}

#logo .logo {
    margin-bottom: 0.2em;
    font-size: 3em !important;
    line-height: 1.1em;
}

#portal-description {
    bottom: 24px;
    text-transform: uppercase;
    font-size: 1.2em;
}

/*
 * Personal Tools - Menu de administração
 */

#portal-personaltools {
    position: absolute;
    top: 0px;
    right: 0;
    float: left;
    font-size: 1.2em;
}

/* Menu de idioma
   ========================================================================== */

#language {
    float: right;
    margin-left: 20px;
    padding-bottom: 2px;
    border-bottom: 1px dotted #9bc2a3;
    font-size: 0.93em;
}

#language li { display: inline; }

#language a {
    padding: 4px 0 4px 10px;
    color: #d9ffe3;
    text-decoration: none;
    text-transform: uppercase;
}

#language a:hover { color: #fff !important; }

#language .language-en {
    margin-right: 0.5em;
}

#language .language-en a {
    padding-left: 0;
}

/* Menu site actions - Acessibilidade, Alto Contraste, Mapa do site
   ========================================================================== */

#portal-siteactions {
    display: block;
    float: right;
    clear: none;
    padding-bottom: 2px;
}

#portal-siteactions li { display: inline; }

#portal-siteactions a {
    padding: 4px 0 4px 10px;
    text-decoration: none;
    text-transform: uppercase;
}

#siteaction-accessibility a { padding-left: 0; }

#portal-siteactions .last-item { margin-right: 0; }

/* Links de redes sociais
   ========================================================================== */

#social-icons {
    float: right;
    clear: right;
    margin: 1.167em 0;
}

#social-icons ul { display: table-row; }
#social-icons li { display: table-cell; }

#social-icons li a {
    border: none;
    padding: 0 0 0 5px;
}

/* Menu sobre o portal
   ========================================================================== */

#sobre {
    clear: both;
    margin: 0;
    padding: 5px 0;
    max-width: 100% !important;
    line-height: 20px;
}

#sobre ul {
    margin: 0 auto;
    max-width: 960px;
    text-align: right;
}

#sobre .portalservicos-item a { padding: 0 10px; }

#sobre .last-item a {
    padding: 0 0 0 10px;
    border-right: none !important;
}

/* Formulário de busca
   ========================================================================== */

.LSBox {
    margin: 0;
    padding: 0;
    border: none;
}

input.searchField { -moz-appearance: none; }

#portal-searchbox {
    float: right;
    clear: right !important;
    margin: 3.12em 0 0 0;
    padding: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
    text-align: right;
    font-size: 80%;
}

#portal-searchbox .searchField {
    padding: 0.3em 0.35em;
    width: 186px;
    border: none;
    border-right: none;
    font-size: 1.2em;
    font-family: "open_sansregular", Arial, Helvetica, sans-serif;
}

#searchGadget,
#header input.searchButton {
    padding: 0.3em;
    padding: 4px 15px;
    border: none;
    background: transparent;
    text-indent: -2000px;
}

#header input.searchButton {
    background: url("../img/search-button.gif") no-repeat 3px 2px #FFFFFF;
}

#LSResult {
    z-index: 1;
    margin-top: 0.5%;
}


/* ==========================================================================
   Conteúdo
   ========================================================================== */

/* Breadcrumb
   ========================================================================== */

.section-home #portal-breadcrumbs,
.portaltype-plone-site #portal-breadcrumbs { display: none; }

.section-home #main,
.portaltype-plone-site #portal-breadcrumbs { padding-top: 3.078em; }

#portal-breadcrumbs a,
#portal-breadcrumbs span {
    color: #2C66CE;
    text-transform: uppercase;
    font-family: "open_sansregular", Arial, Helvetica, sans-serif;
}

#portal-breadcrumbs > span { font-size: 0.833em; }

#portal-breadcrumbs > span > a,
#portal-breadcrumbs > span > span { font-size: 1em; }

#portal-breadcrumbs > span > span.breadcrumbSeparator { color: #2C66CE; }

#portal-breadcrumbs > span > a:hover { text-decoration: underline; }

#main #portal-breadcrumbs {
    position: absolute;
    top: -5.128em;
    margin-top: 1.923em;
    margin-bottom: 1.923em;
}

#content { margin: 0; }

#content .field { position: relative; }

.documentDescription { margin-top: 1.5em; }


/* ==========================================================================
   NITF
   ========================================================================== */

#content div.newsLeftPane {
    position: relative;
    float: left;
    margin: 0.9615em 1em 0.5em 0;
}

#content div.newsImageContainer {
    float: none;
    margin: 0;
}

#content div.newsImageContainer p.discreet {
    top: 0;
    margin-top: .400em;
    background-color: transparent;
    color: #172938;
    font-weight: normal;
    font-size: .85em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.36340em;
}


/* ==========================================================================
   Estilos de texto
   ========================================================================== */

#content-core {
    clear: both;
}

#content-core p { font-size: 110%; }

.hidden { display: none; }

.clear { clear: both; }

.pb-ajax, .pb-image,
.overlay iframe { font-size: 1.4em; }

.portlet img, #content img {
    max-width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#content h1.documentFirstHeading {
    margin: 5px 0;
    padding-bottom: 0.4em;
    color: #1a2a39;
    text-transform: none;
    font-size: 3em;
}

p.section {
    margin-bottom: 15px !important;
    color: #2c67cd;
    text-transform: uppercase;
    font-size: 1.4em;
    line-height: 1em;
}

#related-items { width: 203px; }

p.section a { color: #2c67cd; }

#viewlet-below-content-title { position: relative; }

#viewlet-social-like {
    position: absolute;
    right: 10px;
    float: right;
    margin: 0 0 15px 0;
    padding: 0.6416em 0 0 1.3634em;
    width: 40%;
    border-left: 1px dotted #bfc0c2;
}

#plone-document-byline { width: 55%; }

/*
 * Correção dos tamanhos quando 4 colunas
 */

div.width-1\3a 2 #viewlet-social-like { width: 58%; }

body[class*="nitf"] div.width-1\3a 2 #viewlet-social-like {
    top: -1.041em;
    width: 25.0794%;
}

div.width-1\3a 2 #plone-document-byline { width: 35%; }

body[class*="nitf"] div.width-1\3a 2 #plone-document-byline { width: 68.7216%; }

.portaltype-collection #viewlet-social-like { top: -6px; }

.nitfByline { color: #3b72cf; }

#viewlet-social-like iframe {
    margin-left: -20px;
    width: 120px;
}

#content .pullquote {
    margin: 0 1em 0.5em 1em;
    padding: 1em 0 !important;
    border-top: 4px solid #172937;
    border-bottom: 1px solid #79838c;
    color: #9fa9b3;
    font-size: 1.6em;
}

#content div.newsImageContainer > div:first-child {
    background: #e5e5e5;
    text-align: center;
}

#content div.newsImageContainer > div:first-child p { text-align: left; }

#content .newsImageContainer .photo-icon {
    position: relative;
    top: 24px;
    right: -8px;
    float: right;
    clear: none;
    overflow: hidden;
    margin: 0;
    width: 102px;
    height: 31px;
    background: url("../img/mais_fotos.png") no-repeat;
    text-indent: 100%;
    white-space: nowrap;
}

#content .newsImageContainer .copyright {
    float: left;
    line-height: 31px;
}

#content .newsImageContainer .carrossel-images { display: none; }

.newsImageContainer .parent-nitf-image { display: block; }

#content .relatar-erros {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: .900em;
    font-family: "open_sansregular", Arial, Helvetica, sans-serif;
    line-height: 14px;
}

#content .relatar-erros .icone {
    float: left;
    margin-right: .800em;
}

#content .relatar-erros .texto {
    display: block;
    color: #172938;
    line-height: 38px;
}

/*
 * Tabela
 */

table.listing {
    border-bottom: 1px solid #aeb3b6;
    border-left: 0;
}

table.listing tr.odd th,
table.listing tr.even th {
    border: 0;
    font-size: 1.2em;
}

table.listing tbody tr td {
    background: #f5f5f5;
    border-bottom: 1px dotted #d5d5d5;
}

table.listing tbody tr.odd td { background: #fff; }

table.listing tbody th {
    border-width: 4px 0 1px 0;
    border-top: 4px solid #172838 !important;
    border-bottom: 1px solid #79838c!important;
    background: #fff;
    font-weight: bold;
}

/*
 * Lista
 */

.template-view.portaltype-collective-nitf-content #content-core ul,
.template-view.portaltype-collective-nitf-content #content ol {
    margin-bottom: 2em;
    margin-left: 0;
    padding: 1em;
    border: 1px solid #d5d5d5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    list-style-type: disc;
}

.template-view.portaltype-collective-nitf-content #content-core li {
    padding: 1em;
    border-bottom: 1px dotted #d5d5d5;
    list-style-position: inside !important;
}

.template-view.portaltype-collective-nitf-content #content-core ol li {
    list-style-type: decimal !important;
}


/* ==========================================================================
   Itens relacionados
   ========================================================================== */

#content .newsRelatedItems,
#content #newsRelatedItems {
    clear: both;
    margin: 1.4em 0 .100em 0;
    padding: 0;
    width: 228px;
    border: 1px solid #c0c1c3;
    border-radius: 3px;
    background-color: #eeeff1;
    /* root size */
    font-size: 16px;
}

#content .newsRelatedItems fieldset,
#content #newsRelatedItems fieldset {
    margin: 0;
    padding: 0;
    width: 100%;
    border: 0 none;
}

#content .newsRelatedItems legend,
#content #newsRelatedItems legend {
    float: left;
    clear: both;
    margin: 0;
    padding: .600em 0 .600em .875em;
    color: #454545;
    font-weight: normal;
    font-size: 1em;
    font-family: "open_sansbold", Arial, Helvetica, sans-serif;
    line-height: 1em;
}

#content #form-widgets-relatedItems {
    display: block;
    clear: both;
    border-top: 1px solid #c0c1c3;
    font-weight: bold;
    font-size: 0.875em;
    font-family: Arial, Helvetica, sans-serif;
}

#content #form-widgets-relatedItems div {
    clear: both;
    border-top: 1px dotted #c0c1c3;
} #content #form-widgets-relatedItems div:first-child { border-top: 0 none; }

#content #form-widgets-relatedItems div a {
    float: left;
    margin: .500em 1em;
    color: #335277;
}

fieldset#folder-listing legend {
    position: absolute;
    padding: 1em 0 0 0;
    color: #444;
}


/* ==========================================================================
   VCGE - TAGS
   ========================================================================== */

#category,
#category-vcge {
    clear: both;
    margin: 0;
    color: #3a70d1;
    text-align: left;
    font-size: .7em;
    font-family: Arial, Helvetica, sans-serif;
}

#category {
    margin-top: 2.5em;
    padding-top: 1em;
    border-top: 4px solid #172937;
}

#category-vcge {
    display: block;
    margin: 1em 0 0 0;
    padding: 1em 0;
    border-top: 1px solid #8b949b;
    border-bottom: 1px solid #8b949b;
}

/*
 * Tags e assuntos
 */

#category a.link-category,
#category span.selectedTag,
#category-vcge a.link-category,
#category-vcge span.selectedTag {
    margin: 0;
    padding: 4px 9px;
    border: 1px solid #dadada;
    border-radius: 3px;
    background-color: #e9e8ed;
    color: #3a70d1;
}

#category-vcge .link-category:hover,
#category-vcge .link-category:focus {
    border-color: #205c90;
    background: #205c90;
    color: #fff;
}

#category span,
#category-vcge span {
    display: inline-block;
    margin-left: 5px;
    line-height: 30px;
}

/*
 * Embedder fix
 */

#alt_cont a { cursor: pointer; }


/* ==========================================================================
   Portles
   ========================================================================== */

dl.portlet { margin-bottom: 0; }

dl.portlet dt.hiddenStructure { display: none; }

#portal-column-one dl.portlet { border: none; }

#portal-column-one .portletNavigationTree { margin-bottom: 3.61em; }

#portal-column-one .first-item-nav a { color: #2c66ce; }

#portal-column-two dl.portlet {
    border: 1px solid #c1c1c1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #eeefff;
}

#portal-column-two dl.portlet a:link,
#portal-column-two dl.portlet a:visited { color: #464a55 !important; }

dl.portlet dt {
    border-bottom: 1px solid #c1c1c1;
    background: transparent;
    color: #444444;
    text-transform: uppercase;
}

dl.portlet dt a:link,
dl.portlet dt a:visited { color: #464a55 !important; }

#portal-column-two > .portletWrapper { margin-bottom: 1.9230em; }
#portal-column-two > .portletWrapper:first-child { margin-top: 1.7307em; }

#portal-column-two > .portletWrapper > .portletStaticText a,
#portal-column-two > .portletWrapper > .portletStaticText img { display: block; }
#portal-column-two > .portletWrapper > .portletStaticText p { margin: 0; }

/* Portlet de login
   ========================================================================== */
#portal-column-two dl.portletLogin {
    border: none;
    background: #093a89;
    color: #fff;
}

#portal-column-two dl.portletLogin dt {
    padding: 1em;
    border: none;
    background: url("../img/cadeado.png") 230px 10px no-repeat;
    text-transform: uppercase;
}

#portal-column-two dl.portletLogin a:link,
#portal-column-two dl.portletLogin dt a:link { color: #fff !important; }

.portletLogin .field input { width: 97% !important; }

.portletLogin div.formControls { text-align: right; }

.portletLogin div.formControls input {
    margin-right: -10px;
    padding: 0.3em 1em;
    border: none;
    background: #012154;
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
}

.portletLogin .even { border-top: 1px solid #5c7ba7; }

/* Portlet com data
   ========================================================================== */

.portletNews .portletItem,
.portletCollection .portletItem {
    clear: both;
    min-height: 45px;
    border-bottom: 1px solid #ccc;
}

.portletNews .portletItem a,
.portletCollection .portletItem a {
    display: block;
    float: right;
    clear: both;
    margin: 1em 0;
    width: 65%;
    font-size: 1em;
}

.portletCollection .portletItem a { clear: none; }

.portletNews .portletItem .portletItemDetails,
.portletCollection .portletItem .portletItemDetails {
    display: block;
    float: left;
    margin: 1em 0 1em 1em;
    width: 24%;
    color: #596e7f;
    text-align: center;
}

.portletCollection .portletItem .portletItemDetails { clear: left; }

.portletFooter {
    color: #444b53;
    text-transform: uppercase;
}

.portletFooter a { color: #444b53; }

/*
 * Portlet de eventos
 */

.portletEvents .portletItem a.tile {
    margin-left: 9px;
    font-size: 1.2em;
}

/* Portlet de navegação
   ========================================================================== */

.portlet-static-contents-central .portletHeader,
.portlet-static-resource-center .portletHeader,
.portlet-static-centrales-del-contenido .portletHeader,
.portlet-static-centrais-de-conteudos .portletHeader,
.portletNavigationTree .portletHeader {
    margin: 0;
    padding: 8px 8px 24px 10px;
    border-bottom: none;
    background: #edeff1;
    text-transform: uppercase;
    /* reseta font-weight: bold do public.css */
    font-weight: normal;
    font-family: "open_sansbold", Arial, Helvetica, sans-serif;
}

.portletNavigationTree > .portletItem > .navTree > .navTreeItem > a > span,
.portletStaticText > .portletItem > .list-central > .item-central > a {
    font-size: 1.15em;
    font-family: "open_sansregular", Arial, Helvetica, sans-serif;
}

.portletNavigationTree { border-bottom: 1px solid #ddd; }

.portletNavigationTree li { list-style: none !important; }

.portletNavigationTree > .portletItem a span { color: #172938 !important; }

dl.portlet ul.navTreeLevel0 > .navTreeItem {
    margin: 0;
    padding: 0 !important;
    border-top: 1px solid #dfdfdf;
    border-bottom: none;
    list-style: none;
}

dl.portlet ul.navTreeLevel0 > .last-item { border-bottom: 1px solid #dfdfdf; }

dl.portlet ul.navTree .navTreeCurrentItem {
    margin-right: 0;
    margin-left: 0;
    border-left: none !important;
    background-color: transparent;
}

/*
 * Backgound colors
 */

.navTreeLevel0 > li.navTreeItemInPath,
.navTreeLevel0 > li.navTreeCurrentNode { background-color: #edeff1; }

.navTreeLevel1 { background: #e6e8ea !important; }
.navTreeLevel2 { background: #dfe1e3 !important; }
.navTreeLevel3 { background: #d9dbdd !important; }
.navTreeLevel4 { background: #d3d5d7 !important; }
.navTreeLevel5 { background: #cbcdcf !important; }

dl.portlet ul.navTreeLevel1 .navTreeItem {
    padding-left: 0em !important;
    border-top: 1px solid #d0d4d5;
}

a.navTreeItemInPath,
a.navTreeCurrentNode {
    background: transparent url("../img/menu-ativo.gif") no-repeat !important;
    font-weight: bold;
}

/*
 * Apenas para o primeiro menu
 */

.first-item a.navTreeItemInPath,
.first-item a.navTreeCurrentNode { background-image: none !important; }

.first-item .portletNavigationTree .portletHeader { display: none; }

ul.navTreeLevel0 li a.navTreeItemInPath,
ul.navTreeLevel0 li a.navTreeCurrentNode {
    background-position: 8px 12px !important;
}

ul.navTreeLevel1 li a.navTreeItemInPath,
ul.navTreeLevel1 li a.navTreeCurrentNode {
    background-position: 14px 12px !important;
}

ul.navTreeLevel2 li a.navTreeItemInPath,
ul.navTreeLevel2 li a.navTreeCurrentNode {
    background-position: 20px 12px !important;
}

ul.navTreeLevel3 li a.navTreeItemInPath,
ul.navTreeLevel3 li a.navTreeCurrentNode {
    background-position: 26px 12px !important;
}

ul.navTreeLevel4 li a.navTreeItemInPath,
ul.navTreeLevel4 li a.navTreeCurrentNode {
    background-position: 32px 12px !important;
}

ul.navTreeLevel5 li a.navTreeItemInPath,
ul.navTreeLevel5 li a.navTreeCurrentNode {
    background-position: 38px 12px !important;
}

ul.navTreeLevel6 li a.navTreeItemInPath,
ul.navTreeLevel6 li a.navTreeCurrentNode {
    background-position: 44px 12px !important;
}

/*
 * Deslocamento dos itens
 */

dl.portlet ul.navTree li a {
    padding: 0.55em 1.5em !important;
    line-height: 1.3em !important;
}

dl.portlet ul.navTreeLevel1 li a {
    padding: 0.55em 2em !important;
    font-size: 1.05em;
}

dl.portlet ul.navTreeLevel2 li a { padding: 0.2em 2.5em !important; }
dl.portlet ul.navTreeLevel3 li a { padding: 0.55em 3em !important; }
dl.portlet ul.navTreeLevel4 li a { padding: 0.55em 3.5em !important; }
dl.portlet ul.navTreeLevel5 li a { padding: 0.55em 4em !important; }
dl.portlet ul.navTreeLevel6 li a { padding: 0.55em 4.5em !important; }

#portal-column-one > .portletWrapper dl.portlet.first-item-nav a,
#portal-column-one > .portletWrapper dl.portlet.first-item-nav a span {
    padding: 0.475em 0 !important;
    font-size: 110%;
}

.portlet img,
#content img {
    max-width: 100%;
    height: auto;
}

/* Portlet de Centrais de Conteúdos
   ========================================================================== */

.portlet-static-contents-central .portletItem,
.portlet-static-resource-center .portletItem,
.portlet-static-centrales-del-contenido .portletItem,
.portlet-static-centrais-de-conteudos .portletItem {
    padding: 0 !important;
}

.portlet-static-contents-central .list-central,
.portlet-static-resource-center .list-central,
.portlet-static-centrales-del-contenido .list-central,
.portlet-static-centrais-de-conteudos .list-central {
    margin: 0;
    padding: 0;
}

.list-central .item-central {
    padding: 15px 0;
    border-bottom: 1px solid #d6dcd7;
    list-style: none;
}

.list-central .item-central.first { border-top: 1px solid #d6dcd7; }

.item-central .link-central {
    display: block;
    padding-left: 50px;
    height: 38px;
    color: #436976 !important;
    line-height: 38px;
}

/* Icones da Central de conteudo
   ========================================================================== */

.item-central .link-videos {
    background: url("../img/sprite-icons.png") no-repeat -1px -127px;
}

.item-central .link-audios {
    background: url("../img/sprite-icons.png") no-repeat -1px -167px;
}

.item-central .link-infograficos {
    background: url("../img/sprite-icons.png") no-repeat -1px -247px;
}

.item-central .link-publicacoes {
    background: url("../img/sprite-icons.png") no-repeat -1px -207px;
}

.item-central .link-fotos {
    background: url("../img/sprite-icons.png") no-repeat -1px -326px;
}

.item-central .link-aplicativos {
    background: url("../img/sprite-icons.png") no-repeat -1px -287px;
}

/* Portlet de Lista
   ========================================================================== */

#content li,
dl.portlet li {
    margin-bottom: 0.25em;
    list-style: square outside;
    line-height: 1.5em !important;
}

#content ol li,
dl.portlet ol li { list-style: decimal outside; }

/* Menu em destaque
   ========================================================================== */

#em-destaque ul {
    display: table;
    margin-bottom: 2em;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #e8e7e7;
}

#em-destaque li {
    display: table-cell;
    padding: 0.45em 1em;
    border-right: 1px solid #d2d2d2;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8em !important;
}

#em-destaque li.last-item { border-right: none !important; }

#em-destaque a { color: #2C5496; }

#em-destaque li#em-destaque-titulo {
    border-right: none;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    background: #6f7681 url("../img/em-destaque.png") right center no-repeat;
    color: #fff;
}

#portal-features {
    text-align: right;
    font-size: 80%;
}

/*
 * Ajuste Banner Lançamento
 */

#portletwrapper-706c6f6e652e6c656674636f6c756d6e0a636f6e746578740a2f636c69656e7465732f62726173696c2f62726173696c0a61706f696f a.navTreeItemInPath,
#portletwrapper-706c6f6e652e6c656674636f6c756d6e0a636f6e746578740a2f636c69656e7465732f62726173696c2f62726173696c0a61706f696f a.navTreeCurrentNode {
    background-image: none !important;
}

#portletwrapper-706c6f6e652e6c656674636f6c756d6e0a636f6e746578740a2f636c69656e7465732f62726173696c2f62726173696c0a61706f696f .portletNavigationTree .portletHeader {
    display: none;
}

#portletwrapper-706c6f6e652e6c656674636f6c756d6e0a636f6e746578740a2f636c69656e7465732f62726173696c2f62726173696c0a61706f696f dl.portlet ul.navTree li a {
    padding: 0.2em 0 !important;
    color: #2c67cd !important;
    font-size: 110%;
}

/* Portlet de politicas
   ========================================================================== */

.portletCollection {
    border: 1px solid #c0c1c3;
    border-radius: 5px;
    background: #eeeff1 !important;
}

.portletCollection .portletHeader {
    margin: 0;
    padding: 1em;
    border-bottom: 1px solid #c0c1c3;
    color: #464a53;
    text-transform: uppercase;
}

.portletCollection .portletItem .tile {
    display: inline;
    float: none;
    color: #436976;
}

.portletCollection .portletFooter {
    background: url("../img/portlet-footer-textmore.png") no-repeat right;
    text-align: right;
}

.portletCollection .portletFooter span {
    display: block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

.portletCollection .portletFooter a {
    display: block;
    float: right;
    width: 133px;
    height: 100%;
}

.portletCollection .portletItem .portletItemDetails {
    margin: 0;
    width: 0;
}


/* ==========================================================================
   Collective Cover
   ========================================================================== */

.portaltype-collective-cover-content #content .row {
    margin: 0;
    padding: 0;
}

/* Tiles
   ========================================================================== */

.tile {
    clear: both;
    margin-bottom: 24px;
}

.tile h1 {
    margin: 0 0 10px 0;
    border-bottom: none;
    text-transform: none;
    font-size: 2.8em;
    line-height: 1.1em;
}

.tile h2 {
    margin: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-family: "open_sansregular", Arial, Helvetica, sans-serif;
    line-height: 1.2em;
}

#content .cover-collection-tile h2 {
    font-family: "open_sanssemibold", Arial, Helvetica, sans-serif;
}

#content .cover-collection-tile h2 a { color: #172938; }

.tile h3 {
    margin: 0;
    font-weight: bold;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2em;
}

.tile h4 {
    margin-bottom: 10px;
    font-size: 1.1em;
    line-height: 1.1em;
}

.tile.fio-separador { margin-bottom: 2em; }

.tile-subtitle {
    margin-bottom: 3px !important;
    text-transform: uppercase;
    font-weight: normal;
}

.link-externo {
    overflow: hidden;
    border: 1px solid #c0c1c3;
    border-radius: 5px;
}

#content .tile-description { margin: 0; }

/* Link externo
   ========================================================================== */

.link-externo .tile-header,
.link-externo .tile-title {
    padding: 1em;
    border-bottom: 1px solid #bec2c1;
    background: #434a54;
}

.link-externo .tile-header span,
.link-externo .tile-header h2,
.link-externo .tile-title h2 {
    margin: 0;
    color: #fff !important;
    font-weight: normal;
}

.link-externo .tile-header { text-transform: uppercase; }

.tile-header span { font-size: 1.4em; }

.link-externo .tile-footer {
    padding: 0.5em 1em;
    background: #c2c3c5;
    text-transform: uppercase;
}

.link-externo .collection-item {
    padding: 1em;
    border-bottom: 1px dotted #bec2c1;
}

.link-externo .collection-item.odd { background: #eeeff1; }
.link-externo .collection-item.even { background: #fff; }

.link-externo .collection-item a {
    display: block;
    padding-right: 2em;
    background: url("../img/readmoredarkgray.png") no-repeat right center !important;
}

.link-externo .collection-item h2,
.link-externo .collection-item h3 {
    margin-bottom: 0;
    font-weight: normal;
}

.link-externo .collection-item p {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
}

/* Lista horizontal
   ========================================================================== */

.lista-horizontal {
    border: 1px solid #c0c1c3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #eeeff1 !important;
}

.lista-horizontal .tile-header,
.lista-horizontal .tile-title {
    margin: 0;
    padding: 0.5em 1em;
    border-bottom: 1px solid #c0c1c3;
    color: #464a53;
    text-transform: uppercase;
}

.lista-horizontal .tile-footer {
    float: left;
    margin: 0;
    padding: 1% 2.5%;
    width: 95%;
    border-top: 1px solid #c0c1c3;
    color: #464a53;
    text-align: right;
    text-transform: uppercase;
}

.lista-horizontal .list-item a,
.lista-horizontal .collection-item a { color: #365073 !important; }

.lista-horizontal .list-item,
.lista-horizontal .collection-item {
    float: left;
    padding: 2% 1% 2% 3%;
    width: 29%;
    border-left: 1px dotted #ccc;
}

/* Lista vertical - Tile List e Tile Collection
   ========================================================================== */

.lista-vertical {
    border: 1px solid #c0c1c3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #eeeff1 !important;
}

.lista-vertical .tile-header,
.lista-vertical .tile-title,
.lista-vertical .collection-header,
.lista-vertical .collection-title {
    margin: 0;
    padding: 0.5em 1em;
    border-bottom: 1px solid #c0c1c3;
    color: #464a53;
    text-transform: uppercase;
}

.lista-vertical .tile-header h3,
.lista-vertical .tile-header span {
    color: #444a53;
    font-weight: bold;
    font-size: 1.3em;
}

.lista-vertical .tile-footer,
.lista-vertical .collection-footer {
    float: left;
    margin: 0;
    padding: 1% 2.5%;
    width: 95%;
    border-top: 1px solid #c0c1c3;
    color: #464a53;
    text-transform: uppercase;
}

.lista-vertical .tile-footer a,
.lista-vertical .collection-footer a {
    font-size: 11px;
    font-family: "open_sansregular", Arial, Helvetica, sans-serif;
}

.lista-vertical .list-item a,
.lista-vertical .collection-item a { color: #365073 !important; }

.lista-vertical .list-item,
.lista-vertical .collection-item {
    display: block;
    clear: both;
    margin: 0;
    padding: 0 9px;
    border-bottom: 1px dotted #c1c2c2;
}

.lista-vertical .list-item h1,
.lista-vertical .list-item h2,
.lista-vertical .list-item h3,
.lista-vertical .collection-item h1,
.lista-vertical .collection-item h2,
.lista-vertical .collection-item h3 {
    margin: 1.2em 0 !important;
    padding: 0;
    font-size: 1em;
    line-height: 1em;
}

.lista-vertical .list-item a h1,
.lista-vertical .list-item a h2,
.lista-vertical .list-item a h3,
.lista-vertical .collection-item a h1,
.lista-vertical .collection-item a h2,
.lista-vertical .collection-item a h3 { color: #596e7f; }

.lista-vertical .list-item img[width="200"],
.lista-vertical .collection-item img[width="200"] {
    float: left;
    margin: 0 .8em 0 0 !important;
    max-width: 115px;
    width: 115px;
}

.lista-vertical p.data,
.lista-vertical p.date {
    float: left;
    margin: 0 1.4em 0 0 !important;
    color: #748494;
}

.lista-vertical .list-item p,
.lista-vertical .collection-item p { color: #46494e; }

/*
 * Cores Section
 */

.laranja .tile-subtitle { color: #ba4a00; }
.azul-petroleo .tile-subtitle { color: #3b7390; }
.dourado .tile-subtitle { color: #b97a00; }
.roxo .tile-subtitle { color: #643c67; }
.marrom-claro .tile-subtitle { color: #826938; }
.verde-escuro .tile-subtitle { color: #1d571f; }
.verde .tile-subtitle { color: #017b16; }
.azul .tile-subtitle { color: #1a55dd; }
.marrom .tile-subtitle { color: #753900; }
.verde-claro .tile-subtitle { color: #56762b; }
.azul-claro .tile-subtitle { color: #3867b7; }
.azul-escuro .tile-subtitle { color: #00439e; }
.azul-turquesa .tile-subtitle { color: #097495; }
.bege .tile-subtitle { color: #ab6600; }

/*
 * Destaques com borda cinza
 */

.roxo-borda,
.verde-borda,
.azul-claro-borda,
.azul-turquesa-borda,
.laranja-borda,
.bege-borda {
    padding-bottom: 0.8em;
    border-bottom: 1px solid #ccc;
}

.roxo-borda a { color: #5c1285 !important; }
.verde-borda a { color: #01971c !important; }
.azul-claro-borda a { color: #8fd9e4 !important; }
.azul-claro-turquesa a { color: #097495 !important; }
.laranja-borda a { color: #e07f48 !important; }
.bege-borda a { color: #ab6600 !important; }

.tile p { line-height: 1.75em; }

.left {
    float: left;
    margin: 0 10px 10px 0;
}

.right {
    float: right;
    margin: 0 0 10px 10px;
}

/*
 * Collection tile
 */

.tile-title {
    margin-bottom: 5px;
    padding: 7px 0.3em;
    border-top: 4px solid #172838;
    border-bottom: 1px solid #ccc;
    background: #eeeff1;
    font-weight: normal;
    font-size: 1.7em;
}

.collection-item h1,
.collection-item h2,
.collection-item h3,
.collection-item h4,
.list-item h1,
.list-item h2,
.list-item h3,
.list-item h4 { margin-bottom: 0.5em; }

.roxo .tile-title {
    border-top: 4px solid #5b1285;
    color: #5b1285;
}

.verde .tile-title {
    border-top: 4px solid #01971c;
    color: #01971c;
}

.azul-claro .tile-title {
    border-top: 4px solid #018bb9;
    color: #018bb9;
}

.laranja .tile-title {
    border-top: 4px solid #d25501;
    color: #d25501;
}

.bege .tile-title {
    border-top: 4px solid #ad6500;
    color: #ad6500;
}

/* Tile header
   ========================================================================== */

#content .outstanding-header h1,
#content .outstanding-header h2,
#content .outstanding-header h3,
#content .outstanding-header h4 {
    font-family: "open_sansregular", Arial, Helvetica, sans-serif;
}

.outstanding-header .outstanding-title {
    margin-left: 0 !important;
    padding: 7px 0;
    padding-left: 0.3em;
    border-top: 2px solid #172838;
    border-bottom: 1px solid #CCCCCC;
    color: #2C67CD;
    font-size: 1.7em;
}

#content .tile .outstanding-header .outstanding-title {
    padding-right: 70px;
    font-weight: normal !important;
}

.outstanding-header h1 {
    text-transform: uppercase;
    font-weight: bold !important;
    font-size: 2.3em !important;
}

.outstanding-header h2 {
    min-height: 48px;
    font-size: 1.8em !important;
}

.outstanding-header h3 {
    min-height: 48px;
    font-size: 1.5em !important;
}

.outstanding-header h4 {
    min-height: 48px;
    font-size: 1.3em !important;
}

.outstanding-header .outstanding-link {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    margin-top: 5px;
    margin-right: 10px;
    padding-top: 3px;
    padding-right: 30px;
    min-height: 30px;
    width: 145px;
    background: url("../img/readmoredarkblue.png") no-repeat scroll right 5px transparent;
    text-align: right;
    text-transform: uppercase;
    font-size: 10px;
    font-family: "open_sansregular", Arial, Helvetica, sans-serif;
    line-height: 2.8em;
}

/* Paleta de cores - cor-editoria
   ========================================================================== */

.tile.padrao { margin-bottom: 13px; }

.padrao .outstanding-header { border-top: 2px solid #172838; }

.padrao .outstanding-header h2 { min-height: 31px; }

/* Laranja - Cidadania e Justiça
   ========================================================================== */

.laranja .tile-title {
    border-top: 4px solid #ba4a00;
    color: #ba4a00;
}

.laranja .outstanding-header {
    min-height: 40px;
    border-top: 2px solid #ba4a00;
    background: #eeeff1;
}

.laranja .outstanding-header .outstanding-title {
    border-color: #ba4a00;
    border-bottom: none;
    background: #eeeff1;
    color: #ba4a00;
}

.laranja .outstanding-header .outstanding-link {
    background: url("../img/seta_laranja.png") no-repeat scroll right 5px transparent;
}

/* Azul Petroleo - Defesa e Segurança
   ========================================================================== */

.azul-petroleo .tile-title {
    border-top: 4px solid #3b7390;
    color: #3b7390;
}

.azul-petroleo .outstanding-header {
    min-height: 40px;
    border-top: 2px solid #3b7390;
    background: #eeeff1;
}

.azul-petroleo .outstanding-header .outstanding-title {
    border-color: #3b7390;
    border-bottom: none;
    background: #eeeff1;
    color: #3b7390;
}

.azul-petroleo .outstanding-header .outstanding-link {
    background: url("../img/seta_azul-petroleo.png") no-repeat scroll right 5px transparent;
}

/* Dourado - Cultura
   ========================================================================== */

.dourado .tile-title {
    border-top: 4px solid #b97a00;
    color: #b97a00;
}

.dourado .outstanding-header {
    min-height: 40px;
    border-top: 2px solid #b97a00;
    background: #eeeff1;
}

.dourado .outstanding-header .outstanding-title {
    border-color: #b97a00;
    border-bottom: none;
    background: #eeeff1;
    color: #b97a00;
}

.dourado .outstanding-header .outstanding-link {
    background: url("../img/seta_dourado.png") no-repeat scroll right 5px transparent;
}

/* Roxo - Ciencia e Tecnologia
   ========================================================================== */

.roxo .tile-title {
    border-top: 4px solid #643c67;
    color: #643c67;
}

.roxo .outstanding-header {
    min-height: 40px;
    border-top: 2px solid #643c67;
    background: #eeeff1;
}

.roxo .outstanding-header .outstanding-title {
    border-color: #643c67;
    border-bottom: none;
    background: #eeeff1;
    color: #643c67;
}

.roxo .outstanding-header .outstanding-link {
    background: url("../img/seta_roxo.png") no-repeat scroll right 5px transparent;
}

/* Marron Claro - Economia e Emprego
   ========================================================================== */

.marrom-claro .tile-title {
    border-top: 4px solid #826938;
    color: #826938;
}

.marrom-claro .outstanding-header {
    min-height: 40px;
    border-top: 2px solid #826938;
    background: #eeeff1;
}

.marrom-claro .outstanding-header .outstanding-title {
    border-color: #826938;
    border-bottom: none;
    background: #eeeff1;
    color: #826938;
}

.marrom-claro .outstanding-header .outstanding-link {
    background: url("../img/seta_marrom-claro.png") no-repeat scroll right 5px transparent;
}

/* Verde Escuro - Educação
   ========================================================================== */

.verde-escuro .tile-title {
    border-top: 4px solid #1D571F;
    color: #1d571f;
}

.verde-escuro .outstanding-header {
    min-height: 40px;
    border-top: 2px solid #1d571f;
    background: #eeeff1;
}

.verde-escuro .outstanding-header .outstanding-title {
    border-color: #1d571f;
    border-bottom: none;
    background: #eeeff1;
    color: #1d571f;
}

.verde-escuro .outstanding-header .outstanding-link {
    background: url("../img/seta_verde-escuro.png") no-repeat scroll right 5px transparent;
}

/* Verde - Esporte
   ========================================================================== */

.verde .tile-title {
    border-top: 4px solid #017b16;
    color: #017B16;
}

.verde .outstanding-header {
    min-height: 40px;
    border-top: 2px solid #017b16;
    background: #eeeff1;
}

.verde .outstanding-header .outstanding-title {
    border-color: #017b16;
    border-bottom: none;
    background: #eeeff1;
    color: #017b16;
}

.verde .outstanding-header .outstanding-link {
    background: url("../img/seta_verde.png") no-repeat scroll right 5px transparent;
}

/* Azul Governo
   ========================================================================== */

.azul .tile-title {
    border-top: 4px solid #1a55dd;
    color: #1a55dd;
}

.azul .outstanding-header {
    min-height: 40px;
    border-top: 2px solid #1a55dd;
    background: #eeeff1;
}

.azul .outstanding-header .outstanding-title {
    border-color: #1a55dd;
    border-bottom: none;
    background: #eeeff1;
    color: #1a55dd;
}

.azul .outstanding-header .outstanding-link {
    background: url("../img/seta_azul.png") no-repeat scroll right 5px transparent;
}

/* Marron - Infraestrutura
   ========================================================================== */

.marrom .tile-title {
    border-top: 4px solid #753900;
    color: #753900;
}

.marrom .outstanding-header {
    min-height: 40px;
    border-top: 2px solid #753900;
    background: #eeeff1;
}

.marrom .outstanding-header .outstanding-title {
    border-color: #753900;
    border-bottom: none;
    background: #eeeff1;
    color: #753900;
}

.marrom .outstanding-header .outstanding-link {
    background: url("../img/seta_marrom.png") no-repeat scroll right 5px transparent;
}

/* Verde Claro - Meio Ambiente
   ========================================================================== */

.verde-claro .tile-title {
    border-top: 4px solid #56762b;
    color: #56762b;
}

.verde-claro .outstanding-header {
    min-height: 40px;
    border-top: 2px solid #56762b;
    background: #eeeff1;
}

.verde-claro .outstanding-header .outstanding-title {
    border-color: #56762b;
    border-bottom: none;
    background: #eeeff1;
    color: #56762b;
}

.verde-claro .outstanding-header .outstanding-link {
    background: url("../img/seta_verde-claro.png") no-repeat scroll right 5px transparent;
}

/* Azul Claro - Saúde
   ========================================================================== */

.azul-claro .tile-title {
    border-top: 4px solid #3867b7;
    color: #3867b7;
}

.azul-claro .outstanding-header {
    min-height: 40px;
    border-top: 2px solid #3867b7;
    background: #eeeff1;
}

.azul-claro .outstanding-header .outstanding-title {
    border-color: #3867b7;
    border-bottom: none;
    background: #eeeff1;
    color: #3867b7;
}

.azul-claro .outstanding-header .outstanding-link {
    background: url("../img/seta_azul-claro.png") no-repeat scroll right 5px transparent;
}

/* Azul Escuro - Turismo
   ========================================================================== */

.azul-escuro .tile-title {
    border-top: 4px solid #00439e;
    color: #00439e;
}

.azul-escuro .outstanding-header {
    min-height: 40px;
    border-top: 2px solid #00439e;
    background: #eeeff1;
}

.azul-escuro .outstanding-header .outstanding-title {
    border-color: #00439e;
    border-bottom: none;
    background: #eeeff1;
    color: #00439e;
}

.azul-escuro .outstanding-header .outstanding-link {
    background: url("../img/seta_azul-escuro.png") no-repeat scroll right 5px transparent;
}

/* Azul Piscinba - Turismo - defasados *
   ========================================================================== */

.azul-piscina .tile-title {
    border-top: 4px solid #00A0DB;
    color: #00A0DB;
}

.azul-piscina .outstanding-header {
    min-height: 40px;
    border-top: 2px solid #00A0DB;
    background: #eeeff1;
}

.azul-piscina .outstanding-header .outstanding-title {
    border-color: #00A0DB;
    border-bottom: none;
    background: #eeeff1;
    color: #00A0DB;
}

/* Bege - defasados *
   ========================================================================== */

.bege .tile-title {
    border-top: 4px solid #AD6500;
    color: #AD6500;
}

.bege .outstanding-header {
    min-height: 40px;
    border-top: 2px solid #AD6500;
    background: #eeeff1;
}

.bege .outstanding-header .outstanding-title {
    border-color: #AD6500;
    border-bottom: none;
    background: #eeeff1;
    color: #AD6500;
}

.bege .outstanding-header .outstanding-link {
    background: url("../img/readmorebrown.png") no-repeat scroll right 5px transparent;
}

/* Amarelo - Economia e Emprego - defasados *
   ========================================================================== */

.amarelo .tile-title {
    border-top: 4px solid #DE9200;
    color: #DE9200;
}

.amarelo .outstanding-header {
    min-height: 40px;
    border-top: 2px solid #DE9200;
    background: #eeeff1;
}

.amarelo .outstanding-header .outstanding-title {
    border-color: #DE9200;
    border-bottom: none;
    background: #eeeff1;
    color: #DE9200;
}

/* Tile de redes sociais
   ========================================================================== */

.social-panes .fb_iframe_widget,
.social-panes .fb_iframe_widget span[style],
.social-panes .fb_iframe_widget iframe[style],
.social-panes .twitter-timeline.twitter-timeline-rendered[style] {
    width: 100% !important;
    height: 100% !important;
}

ul.social-tabs.css-tabs > li > a {
    padding: 5px;
    width: 96px;
    text-align: center;
}

.facebook-content.pane { height: 271px; }
.facebook-content.pane + .twitter-content.pane { height: 307px; }

/*
 * Fio separador
 */

.fio-separador .outstanding-header { border-top: 1px solid #ddd; }


/* ==========================================================================
   Collections
   ========================================================================== */

.template-summary_view h1#parent-fieldname-title,
.template-summary_view h1.documentFirstHeading,
.template-folder_summary_view h1#parent-fieldname-title,
.template-folder_summary_view #content h1.documentFirstHeading {
    padding-bottom: 5px;
    color: #2c67cd;
    text-transform: uppercase;
    letter-spacing: 0.001em;
    font-weight: bold;
    font-size: 2.4em;
    line-height: 1em;
}

.template-summary_view .tileItem,
.template-folder_summary_view .tileItem {
    position: relative;
    margin: 30px 0;
    padding-bottom: 1em;
    padding-left: 13%;
    min-height: 120px;
    border-bottom: 1px solid #D3D3D3;
}

.template-summary_view .tileItem p,
.template-folder_summary_view .tileItem p { line-height: 1.4em; }

.template-summary_view h2.tileHeadline,
.template-folder_summary_view h2.tileHeadline {
    margin-top: 10px;
    margin-bottom: 0;
    letter-spacing: 0.0001em;
    font-weight: bold;
    font-size: 1.2em;
}

.template-summary_view h2.tileHeadline a.summary,
.template-folder_summary_view h2.tileHeadline a.summary {
    color: #000 !important;
    font-size: 1.2em;
}

.template-folder_summary_view .subtitle {
    color: #2C67CD !important;
    font-weight: normal;
    font-size: 1em;
}

.template-summary_view .tileImage,
.template-folder_summary_view .tileImage {
    float: none;
    margin: 0 1em 0.5em 0 !important;
}

.template-summary_view .tileImage img,
.template-folder_summary_view .tileImage img {
    float: left !important;
}

.template-summary_view #content .tileItem .documentByLine,
.template-folder_summary_view #content .tileItem .documentByLine {
    position: absolute;
    top: 0;
    left: 0;
    display: inline;
    overflow: hidden;
    padding-right: 5px;
    width: 9%;
    height: 90px;
    border-right: 1px dotted #D6D6D6;
    color: #7A8692;
    font-size: 1em;
}

.template-summary_view #content .description,
.template-folder_summary_view #content .description {
    color: #666666;
    font-size: 1em;
}

.template-summary_view #content .tileBody,
.template-folder_summary_view #content .tileBody { margin-bottom: 0; }

.template-summary_view #content .tileBody .description,
.template-folder_summary_view #content .tileBody .description {
    color: #000000;
    font-size: 1.3em;
}

.template-summary_view #content .tileFooter a,
.template-folder_summary_view #content .tileFooter a { color: #7A8692; }

.template-folder_summary_view .documentDescription { margin-top: 1em; }

div.listingBar a:link,
#content div.listingBar a:link,
dl.portlet div.listingBar a:link {
    border-bottom: 0.1em solid #CCCCCC !important;
}

/*
 * Sprite de icones
 */

.tileItem .documentByLine {
    /* generico, sem icone especifico */
    background: transparent;
}

.documentByLine .icon-type {
    display: block;
    overflow: hidden;
    margin-top: 10px;
    width: 20px;
    height: 20px;
    text-indent: 100%;
    white-space: nowrap;
}

.tile-sc-embedder .documentByLine .icon-type {
    background: url("../img/sprite-icons.png") no-repeat -1px -22px;
}

.tile-audio .documentByLine .icon-type {
    background: url("../img/sprite-icons.png") no-repeat -1px -1px;
}

.tile-externalcontent .documentByLine .icon-type,
.tile-collective-nitf-content .documentByLine .icon-type {
    background: url("../img/sprite-icons.png") no-repeat -1px -64px;
}

.tile-page .documentByLine .icon-type {
    background: url("../img/sprite-icons.png") no-repeat -1px -43px;
}

.tile-image .documentByLine .icon-type {
    background: url("../img/sprite-icons.png") no-repeat -1px -85px;
}

.tile-aplicativos .documentByLine .icon-type {
    background: url("../img/sprite-icons.png") no-repeat -1px -106px;
}

.tile-folder .documentByLine .icon-type {
    background: url("../img/sprite-icons.png") no-repeat -1px -64px;
}


/* ==========================================================================
   Resultado da busca
   ========================================================================== */

.template-search #content h1.documentFirstHeading {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
    color: #2c67cd;
    text-transform: uppercase;
    letter-spacing: 0.001em;
    font-weight: bold;
    font-size: 2.4em;
    line-height: 1em;
}

.template-search .searchResults dt a {
    padding-left: 23px;
    color: #172734 !important;
    font-size: 1.3em;
}

.template-search .searchResults dt.contenttype-collective-nitf-content a {
    padding-left: 7px;
}

.template-search #search-results-bar {
    font-size: 1.2em;
    padding: 25px 0;
}

.template-search #search-results-bar a { color: #000000; }

.template-search .searchResults dt {
    padding-top: 15px;
    border-top: 1px solid #D3D3D3;
}

.template-search .searchResults dt:first-child { border-top: 0; }

.template-search #search-results {
    padding-right: 0;
    padding-left: 0;
}

.template-search .searchResults dd cite {
    padding-top: 10px;
    color: #647788;
    font-style: normal;
    font-size: 0.8em;
}

.template-search #content .searchResults dd a { color: #647788; }

.template-search .optionsToggle {
    border: transparent;
    background-color: transparent;
}

#search-results {
    width: 66.5% !important;
    padding: 0;
}

#search-results > dl.searchResults > dd > span.discreet > span {
    float: left;
    width: 100%;
}

#search-results-bar {
    position: absolute !important;
    right: 0;
    margin-top: 25px;
    padding: 0 !important;
    width: 317px !important;
    border-top: 0 none !important;
    border-top: 0 !important;
    border-bottom: 0 none !important;
    border-bottom: 0 !important;
    background: #fff;
    font-size: 0.9em;
}

#search-results-bar > span:first-child {
    margin: 2px 0 0 20px;
    width: 90%;
    background: #fff;
    color: #000;
    font-weight: bold;
    font-size: 1.1em;
}

#search-results-bar > span:first-child + dl { margin-left: 20px; }

#content-core form.searchPage dd {
    overflow: hidden;
    margin: 0 0 1.5em 0;
}

#search-filter,
#search-filter .field { background: transparent !important; }
#search-filter .field { padding: 1em 0 !important; }
#search-filter .field div { width: 100%; }
#search-filter .field input { margin-right: 8px; }

#search-results-bar dd.actionMenuContent,
#search-results-bar .activated dd.actionMenuContent { display: block }

#search-results-bar .deactivated dd.actionMenuContent { display: none }

#search-results-bar dl.actionMenu.activated dd { position: relative; }

.template-search #search-results-bar dl {
    margin-left: 20px !important;
    width: 97%;
}

.template-search #rss-subscription,
.template-search .actionMenuHeader {
    display: none;
}

#search-results-wrapper { min-height: 600px; }

.optionsToggle {
    border: medium none transparent;
    background-color: transparent;
    font-size: 100%;
}

#searchResultsSort > span:first-child,
#content #search-filter legend {
    padding-right: 0 !important;
    padding-bottom: 5px !important;
    padding-left: 0 !important;
    width: 88%;
    border-bottom: 1px solid #D3D3D3;
    background: transparent !important;
    text-transform: none !important;
    font-weight: normal !important;
    font-size: 1.25em !important;
}

#searchResultsSort > span:first-child {
    display: block;
    margin-bottom: 20px;
}

#searchResultsSort {
    float: left;
    padding: 0 20px 20px 20px;
    width: 98%;
}

.template-search #content .cell {
    padding-bottom: 20px;
    width: 96% !important;
    border-bottom: 1px solid #D3D3D3;
}

.template-search #search-term {
    font-weight: bold !important;
}

#content #sorting-options > span { display: none; }

#content #sorting-options a {
    display: block;
    border-bottom: 0;
    color: #000;
    text-transform: capitalize;
    line-height: 1.6em;
}

.template-search .searchResults dd div {
    color: #000000;
    font-size: 1.3em;
}


/* ==========================================================================
   Forms
   ========================================================================== */

/*
 * Formulário de contato
 */

.field input[type="text"],
#content .field textarea {
    margin: 0;
    padding: 3px;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    text-indent: 2px;
    font-size: 12px;
    font-family: "open_sansregular", Arial, Helvetica, sans-serif;
}

#content .field textarea { resize: none; }

/*
 * Fix some bootstrap mess
 */

.label:empty,
.badge:empty { display: inline; }


/* ==========================================================================
   Footer
   ========================================================================== */

#footer {
    padding: 20px 0;
    min-height: 50px;
    width: 100%;
}

#footer > div {
    margin: 2em auto;
    padding-top: 1em;
    max-width: 960px;
}

#footer .footer-logos {
    margin: 0 0 -20px;
    padding: 2em 0;
    max-width: 100%;
    background: #00420c;
}

.footer-logos > div {
    margin: 0 auto;
    max-width: 960px;
}

#footer .logo-brasil img { float: right; }

#extra-footer p {
    margin: 1em auto;
    max-width: 960px;
}

#voltar-topo {
    margin-top: 44px;
    text-align: right;
}

#voltar-topo a {
    padding-left: 20px;
    background: url("../img/voltar-topo.png") no-repeat left center;
    color: #777;
    font-size: 0.9em;
}

/* Doormat
   ========================================================================== */

#doormat-container { float: none; }

#doormat-container dl { margin: 0 0 20px 0; }

#doormat-container .doormatColumn { text-align: left; }

#doormat-container dt {
    padding-left: .6em;
    font-size: 2em;
    font-family: "open_sansbold", Arial, Helvetica, sans-serif;
}

#doormat-container dd {
    padding: .5em 1.2em 0 1.2em;
    font-family: "open_sansregular", Arial, Helvetica, sans-serif;
}

#doormat-container dd a { font-size: 1.4em; }

#doormat-container.columns-4 .doormatColumn { width: 22%; }

/*
 * Social Like
 */

#viewlet-social-like > div {
    display: block;
    float: right;
    margin-left: 3px;
}

/*
 * Ajuste de espaçamento dos icones de tiles na aba layout
 */

#tiles-list .last-item { float: left; }

/* Ajuste no tamanho de itens relacionados (tela de gestão)
   ========================================================================== */

.template-edit.portaltype-collective-nitf-content #content #form-widgets-relatedItems-input-fields > span.option {
    margin-bottom: 5px;
}

.template-edit.portaltype-collective-nitf-content #content .relationlist-field {
    float: left;
    margin-right: 5px;
    line-height: 14px;
}

.template-edit.portaltype-collective-nitf-content #content #content-core #form fieldset {
    width: 100%;
}

.template-edit.portaltype-collective-nitf-content #content #content-core #form fieldset #formfield-form-widgets-relatedItems {
    width: 496px;
}

.template-edit.portaltype-collective-nitf-content #content .relationlist-field + label > span.label {
    display: block;
    overflow: hidden;
    width: 92%;
    text-overflow: ellipsis;
    line-height: 14px;
}

/* ==========================================================================
   Ajustes no Grid do Plone
   ========================================================================== */

/* Ajuste de largura de campos de upload múltiplo para 2 colunas */
div.width-1\3a 2 #fileupload tr td.name input {
    width: 180px !important;
}

div.width-1\3a 2 #fileupload tr.template-upload td .progress {
    width: 50px;
}

/* ==========================================================================
   Especificação de estilos para Páginas
   ========================================================================== */

/* Legenda de Imagem alinhada à esquerda */
.template-document_view #content-core .image-left dd.image-caption {
    margin-left: 0;
}

/* ==========================================================================
   Especificação de estilos para NITF
   ========================================================================== */

/*
 * Título da sessão
 */

body[class*="nitf"] #content p.section {
    margin-bottom: 1.5em !important;
    text-transform: uppercase;
    letter-spacing: normal;
    font-weight: normal;
    font-size: 16px;
    font-family: "open_sansbold", Arial, Helvetica, sans-serif;
}

/*
 * Título da notícia
 */

body[class*="nitf"] #content h1.documentFirstHeading {
    margin-bottom: 0.7444em;
    padding-bottom: 0;
    color: #172938;
    letter-spacing: normal;
    font-weight: bold;
    font-size: 2.5833em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.1788em;
}

body[class*="nitf"] #content h2.nitfSubtitle {
    margin-bottom: 1.9230em;
    color: #2c66ce;
    font-weight: bold;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.500em;
}

body[class*="nitf"] #content .documentDescription {
    margin-top: 0;
    padding-bottom: 1.5390em;
    border-bottom: 1px solid #d7dcd8;
    color: #172938;
    font-weight: normal;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
}

body[class*="nitf"] #content .documentAuthor,
body[class*="nitf"] #content .documentPublished,
body[class*="nitf"] #content .documentModified {
    display: block;
}

body[class*="nitf"] #content .documentAuthor {
    margin: 0;
    color: #2c66ce;
    font-weight: bold;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
}

body[class*="nitf"] #content .documentPublished > span:first-child,
body[class*="nitf"] #content .documentModified > span:first-child {
    display: block;
    float: left;
}

body[class*="nitf"] #content .documentPublished > span:first-letter,
body[class*="nitf"] #content .documentModified > span:first-letter {
    text-transform: uppercase;
}

/* Social Like
   ========================================================================== */

body[class*="nitf"] #plone-document-byline { padding-top: .600em; }
body[class*="nitf"] #content #viewlet-social-like {
    position: static;
    right: 0 !important;
}

body[class*="nitf"] div.width-1\3a 2 #viewlet-social-like > div {
    float: left;
    margin-bottom: 0.6410em;
}

body[class*="nitf"] #content #viewlet-social-like > div {
    height: 20px;
    text-align: right;
}

body[class*="nitf"] #content #viewlet-social-like .sociallike-network-facebook {
    padding-left: 2px;
    width: 90px;
}

body[class*="nitf"] #content #viewlet-social-like .sociallike-network-gplus {
    width: 78px;
}

body[class*="nitf"] #content #viewlet-social-like .sociallike-network-twitter {
    width: 93px;
}

body[class*="nitf"] #content #viewlet-social-like .sociallike-network-twitter iframe {
    margin-left: 0;
}

/*
 * Paragrafo da noticia
 */

body[class*="nitf"] #content article div[property*="articleBody"] p {
    margin-bottom: 1.5em;
    color: #172938;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
}

/*
 * Fonte da noticia
 */

#content article .external-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
    color: #3a70d1;
}

/*
 * Data e histórico da notícia
 */

#content article #viewlet-below-content-title .documentPublished,
#content article #viewlet-below-content-title .documentModified,
#content article #viewlet-below-content-title .contentHistory a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    color: #2c66ce;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

.menuTrigger { display: none; }

div.listingBar { clear: both; }

ul.formTabs { padding: 0px !important; }

#searchbt,
#nav #seletor { display: none; }

#nav #seletor { color: #fff; }

/* Smartphone
   ========================================================================== */

@media only screen and (min-width : 320px) and (max-width : 768px) {

    #header { padding-top: 1em !important; }

    #portal-siteactions {
        position: static;
        float: none;
        clear: both;
        padding: 0 0 0.5em;
        font-size: 0.9em;
    }

    #main,
    .section-home #main {
        padding-top: 0;
        max-width: 100% !important;
    }

    #sobre .last-item a { padding: 0 10px; }

    #portal-breadcrumbs,
    #accessibility,
    #doormat-container,
    #em-destaque,
    #portal-features { display: none !important; }

    #portal-column-content {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 20px;
    }

    .menuTrigger {
        display: block;
        height: 73px;
        text-indent: -9999px;
        cursor: pointer;
    }

    #navigation.ativo .menuTrigger { background-position: bottom right; }

    #navigation #portal-column-one { display: none; }

    #navigation.ativo #portal-column-one {
        display: block;
        background: url("../img/shadow-bottom.gif") repeat-x bottom left;
        padding-bottom: 13px;
    }

    .portlet-static-contents-central .portletHeader,
    .portlet-static-resource-center .portletHeader,
    .portlet-static-centrales-del-contenido .portletHeader,
    .portlet-static-centrais-de-conteudos .portletHeader,
    .portletNavigationTree .portletHeader {
        position: relative;
        margin: 0;
        padding: 30px 0;
        border-top: none;
        border-bottom: 1px solid #cdd4d0;
        text-indent: 30px;
        text-transform: uppercase;
        font-size: 24px;
        cursor: pointer;
    }

    .portletNavigationTree .portletHeader a span {
        position: absolute;
        top: 18px;
        right: 20px;
        display: block;
        width: 37px;
        height: 36px;
        background: url("../img/bg-menu-mobile-panel.png") top center no-repeat;
    }

    #portal-column-one .ativo .portletHeader a span {
        background-position: bottom center;
    }

    #portal-column-one .portletNavigationTree .portletHeader a {
        padding: 20px 35px;
        color: #00500f !important;
        font-size: 24px;
    }

    #portal-column-one dl.portlet { margin-bottom: 0; }

    #portal-column-one .portletStaticText,
    #portal-column-one dl.portlet dd {
        display: none;
    }

    #portal-column-one dl.ativo dd { display: block; }

    dl.portlet ul.navTreeLevel0 > .navTreeItem {
        border-top: none;
        border-bottom: 1px solid #d2d2d2;
    }

    dl.portlet ul.navTreeLevel0 > .navTreeItem a {
        padding: 20px 35px !important;
        color: #454545;
        font-size: 24px;
        line-height: 1.2em;
    }
}

/* iPad portrait
   ========================================================================== */

@media screen and (max-width: 768px) {

    #wrapper { max-width: 100%; }

    #logo { min-width: 140px; }

    #main { max-width: 90%; }

    /*
     * Columns
     */

    #portal-column-one,
    #portal-column-two,
    #portal-column-content {
        clear: both;
        margin-left: -98.875%;
        width: 97.75%;
    }

    /*
     * Search
     */

    #portal-searchbox { display: none; }

    .overlay.overlay-ajax { top: 10px !important; }

    .overlay.overlay-ajax input.searchPage {
        margin-bottom: 1em;
        width: 90%;
        font-size: 200% !important;
    }

    .overlay.overlay-ajax #searchform .discreet { text-align: left; }

    .overlay.overlay-ajax #content-core strong { display: none; }

    .overlay.overlay-ajax input.searchPage.searchButton { width: auto; }
}

/* iPhone 4s and greater than
   ========================================================================== */

@media screen and (max-width: 480px) {

    /*
     * Barra de acessibilidade
     */

    #portal-siteactions a { padding-left: 0; }

    #portal-siteactions .last-item { margin-right: 0; }

    #voltar-topo a { margin-right: .5em; }

    #viewlet-social-like { right: 0; }

    #portal-description { bottom: 62px; }

    #sobre { background: none; }

    #social-icons { display: none; }

    #header {
        padding: 1em 0.5em;
        padding: 0 4%;
        width: 100%;
    }

    #header > div { width: 92% }

    #header #accessibility { display: none !important; }

    #header #sobre {
        padding: 0 4%;
        width: 92%;
    }

    #sobre .last-item a { padding: 0 0 0 10px; }

    #portal-searchbox {
        position: relative;
        display: block;
        clear: left !important;
        margin: 0 !important;
        padding: 0;
        height: 41px;
        border: 0 none;
        border-radius: 0;
        background: none;
    }

    #portal-searchbox .searchField {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 39px;
        border: 0 none;
        border-top: 2px solid #ccc;
        border-radius: 6px;
        background-color: #fff;
        color: #064d13;
        text-indent: 13px;
        font-size: 18px;
        font-family: "open_sansregular", Arial, Helvetica, sans-serif;
        line-height: 39px;
    }

    #header #portal-searchbox .searchButton {
        position: absolute;
        top: 7px;
        right: 13px;
        width: 30px;
        height: 30px;
        background: url("../img/search-button-30px.gif") no-repeat;
        cursor: pointer;
    }

    #language {
        float: left;
        margin-left: 0.5em;
    }

    #logo #portal-title {
        font-size: 3.5em;
        line-height: 1em;
    }

    #portal-searchbox {
        float: none;
        clear: both;
        margin: 0 auto 2%;
        width: 100%;
    }

    .cell {
        float: none !important;
        margin-left: -100% !important;
        width: 100% !important;
    }

    .left { float: none !important; }

    #portal-column-two {
        float: none !important;
        margin-left: -100% !important;
        width: 100% !important;
    }

    #logo { width: 100% !important; }

    #footer p { clear: both; }

    #footer > div { text-align: center; }

    #footer img {
        float: none;
        margin: 1em;
        max-width: 40%;
    }

    .portaltype-collection .tileImage { float: none; }

    #extra-footer p { text-align: center; }
}

/* Barra de identidade do governo
   ========================================================================== */

@media screen and (max-width: 960px) {

    #barra-brasil { min-width: 100% !important; }

    #barra-brasil .barra { width: 98% !important; }
}


/* ==========================================================================
   Contraste
   ========================================================================== */

body.contraste,
body.contraste #header,
body.contraste #sobre,
body.contraste #footer,
body.contraste #main,
body.contraste #doormat-container,
body.contraste #em-destaque ul,
body.contraste #em-destaque li#em-destaque-titulo,
body.contraste .outstanding-header .outstanding-title,
body.contraste .audiogallery-tile,
body.contraste .videogallery-tile,
body.contraste ul.css-tabs a,
body.contraste .timeline,
body.contraste .timeline a {
    background: #000 !important;
    color: #fff !important;
}

body.contraste #accessibility span {
    background: #fff !important;
    color: #000 !important;
}

body.contraste h1,
body.contraste h2,
body.contraste h3,
body.contraste h4,
body.contraste h5,
body.contraste h6,
body.contraste #plone-document-byline,
body.contraste #doormat-container dt,
body.contraste #content .documentDescription,
body.contraste #content #description,
body.contraste .nitfByline,
body.contraste p.section { color: #fff !important; }

body.contraste a {
   color: #ff0 !important;
   text-decoration: underline !important;
}

body.contraste .portletHeader,
body.contraste .portletHeader a,
body.contraste dl.portlet dt a:visited,
body.contraste #doormat-container .doormatColumn {
    border-color: #fff !important;
    background: #000 !important;
    color: #fff !important;
}


/* ==========================================================================
   Print
   ========================================================================== */

@media print {

    * {
        background: transparent !important;
        box-shadow: none !important;
        /* Black prints faster: h5bp.com/s */
        color: #000 !important;
        text-shadow: none !important;
    }

    a,
    a:visited { text-decoration: underline; }

    a[href]:after { content: " (" attr(href) ")"; }

    abbr[title]:after { content: " (" attr(title) ")"; }

    .ir a:after,
    a[href^="javascript: "]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead { display: table-header-group; }

    tr,
    img { page-break-inside: avoid; }

    img { max-width: 100% !important; }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 { page-break-after: avoid; }

    #header,
    #footer,
    #em-destaque,
    #viewlet-social-like,
    #voltar-topo,
    #portal-features {
        display: none !important;
    }

    .cell {
        margin: 0 !important;
        width: 100%;
    }

    * { position: relative !important; }
}
